/* *{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1{
    background:chocolate;
    color:midnightblue;
    text-align:center;
    height:10vh;
    display:flex;
    align-items:center;
    justify-content: center;
}
.task-bar{
    background:rgba(210,105,30,0.7);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.task-bar button{
    padding:1vh;
}
.button{
    display:flex;
    align-items:center;
    padding:1vh;
}
input[type="file"]{
    padding:2vh;
}*/
canvas{
    border:2px solid #d3d3d3;
}
.play-zone{
    display:flex;
    justify-content: center;
    align-items:center;
}
.textarea{
    height:20vh;
}
.cursor{
    cursor:pointer;
}
.sidebar{
    display:flex;
    justify-content: space-evenly;
    width:100%;
    background:rgba(210,105,30,0.4);
    margin:0;
    padding:0;
}
.sidebar button{
    padding:1vh;
    font-size:1.3em;
    font-weight:bold;
}
.sidebar h2{
    color:white;
    font-size:0.95em;
}
.sidebar label{
    display:flex;
    align-items: center;
}
select{
    height:2rem;
    margin-top:1.5vh;
}
.flex-container{
    display:flex;
}
.template{
    /*display:grid;
    grid-template-columns: repeat(5,1fr);*/
    display:flex;
    flex-direction: column;
    height:fit-content;
    padding-left:2vw;
    padding-right:2vw;
    background:rgba(210,105,30,0.2);
    width:fit-content;
}
.template div{
    margin-bottom: 5vh;
}
.bg{
    background-size:cover;
    background-position: center;
}
.container{
    position:fixed;
    top:10rem;
}